
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495096169194'); /* IE9*/
  src: url('iconfont.eot?t=1495096169194#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495096169194') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495096169194') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495096169194#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ds:before { content: "\e602"; }

.icon-caiqie:before { content: "\e606"; }

.icon-pause:before { content: "\e607"; }

.icon-iocnchexiao:before { content: "\e60a"; }

.icon-iconwenzi:before { content: "\e620"; }

.icon-wenzi1:before { content: "\e647"; }

.icon-baocun:before { content: "\e758"; }

.icon-xinjian:before { content: "\e6fa"; }

.icon-qianbi:before { content: "\e662"; }

.icon-qianbi1:before { content: "\e601"; }

.icon-yuan:before { content: "\e62e"; }

.icon-yuanjiao-rect:before { content: "\e64e"; }

.icon-triangle-up-copy-copy:before { content: "\e60c"; }

.icon-wenzi:before { content: "\e646"; }

.icon-tianchong:before { content: "\e680"; }

.icon-xiangpi:before { content: "\e600"; }

.icon-duobianxing:before { content: "\e663"; }

.icon-juxing:before { content: "\e627"; }

.icon-xiantiao:before { content: "\e605"; }

.icon-miaobian:before { content: "\e795"; }

.icon-xuxian:before { content: "\e655"; }

